aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
pyrofork
requests
tgcrypto
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
yt-dlp
filesplit==4.0.0
mega.py
opencc
wget
youtube_dl
Flask==2.3.2
#gunicorn==20.1.0
